body {
  background-color: #2489ef;
}

/*title style*/
.row {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 4%;
  border-radius: 25px;
  border: 1px solid #10153a;
  padding: 2px 3px;

}

.title {
  font-size: 4em;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 2px;
  color: #10153a;
}

/*footer style*/
footer {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-radius: 25px;
  border: 1px solid #10153a;
}

.btn {
  background-color: #10153a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.row1 {
  margin-top: 3%;
}