body {
    background-color: rgb(75, 169, 212);
    height: 100%;
    width: 100%;
}
.container {
  height: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-family: "Protest Riot", sans-serif;
  font-size: 10vw;
  margin-top: 1%;
  text-shadow: 2px 2px 2px rgb(0, 145, 212);
  color: white;
}

.game {
  justify-content: center;
    background-color: rgba(75,169,212,.2);
}